html {
    background-image: url('../images/background.svg');
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
}

a, a:visited {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 2.75vw;
    padding: 5%;
}

button {
    border: 2px solid #E5646E;
    background-color: white;
    cursor: pointer;
    padding: 1.5vw 4vw;
    margin: 0.75em;
    border-radius: 4em;
    font-family: 'Montserrat', sans-serif;
    font-size: 115%;
    font-weight: 500;
}

.main-container {
    background-color: white;
    border-radius: 3vw;
    width: 25%;
    text-align: center;
    padding: 1%;
    top:50%;
    left: 50%;
    transform: translate3d(-50%,-50%, 0);
    position: absolute;
    box-shadow: 0px 17px 34px rgba(0,0,0,0.2);
}

#about {
    text-align: right;
    margin: 2.75vw 1vw 0.5vw;
}

#about-page {
    width: 75%;

}

#about-page h1 {
    padding: 2vw; 
}

.info {
    font-size: 115%;
}

#to-menu {
    margin: 2.5vw;
}

input[type="email"], input[type="password"] {
    width: 75%;
    padding: 0.5vw;
    border: none;
    border-bottom: 1.75px solid #B5B5B5;
    font-size: 105%;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2.25vw;
}

input[type="email"]:focus, input[type="password"]:focus {
    outline: none;
    border-bottom: 1.75px solid #E5646E;
}

label {
    font-size: 110%;
    font-weight: 500;
    padding: 1vw 0vw 0.75vw 3.5vw;
    display: block;
    text-align: left;
}

input[type="submit"] {
    border: 2px solid #E5646E;
    background-color: white;
    cursor: pointer;
    padding: 1vw 2vw;
    margin: 0.5vw 0vw 3vw;
    border-radius: 4em;
    font-family: 'Montserrat', sans-serif;
    font-size: 110%;
    font-weight: 500;
}

#register {
    text-decoration: underline;
    color: #E5646E;
}

#badCredentials {
    font-weight: 500;
    color: red;
    margin-bottom: 2vw;
}