html {
    background-image: url('../images/background.svg');
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
}

* {
    box-sizing: border-box;
}

a,
a:visited {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 2.75vw;
    padding: 2vw;
}

button {
    border: 2px solid #E5646E;
    background-color: white;
    cursor: pointer;
    padding: 1.5vw 4vw;
    margin: 0.75em;
    border-radius: 4em;
    font-family: 'Montserrat', sans-serif;
    font-size: 115%;
    font-weight: 500;
}

.main-container {
    background-color: white;
    border-radius: 3vw;
    width: 25%;
    text-align: center;
    padding: 1vw;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    position: absolute;
    box-shadow: 0px 17px 34px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#about {
    text-align: right;
    margin: 2.75vw 1vw 0.5vw;
}

#about-page {
    width: 75%;
}

#about-page h1 {
    padding: 2vw;
}

.info {
    font-size: 115%;
}

#to-menu {
    margin: 2.5vw;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 75%;
    padding: 0.5vw;
    border: none;
    border-bottom: 1.75px solid #B5B5B5;
    font-size: 105%;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2.25vw;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus {
    outline: none;
    border-bottom: 1.75px solid #E5646E;
}

label {
    font-size: 110%;
    font-weight: 500;
    padding: 1vw 0vw 0.75vw 3vw;
    display: block;
    text-align: left;
}

input[type="submit"],
input::file-selector-button {
    border: 2px solid #E5646E;
    background-color: white;
    cursor: pointer;
    padding: 1vw 2vw;
    margin: 0.5vw 0vw 3vw;
    border-radius: 4em;
    font-family: 'Montserrat', sans-serif;
    font-size: 110%;
    font-weight: 500;
}

input[type="file"] {
    padding: 1vw 0vw 1.5vw 8vw;
}

input::file-selector-button {
    display: block;
    margin: 0vw 0vw 1.5vw -2vw
}

#redirect {
    text-decoration: underline;
    color: #E5646E;
}

#badCredentials {
    font-weight: 500;
    color: red;
    margin-bottom: 2vw;
}

.column {
    float: left;
    width: 33%;
}

.main-container:after {
    content: "";
    display: table;
    clear: both;
}

#register-page {
    width: 60%;
}

#register-page label {
    padding: 1vw 3vw 0.75vw 2.5vw;
}

input[type="number"] {
    width: 18%;
    padding: 0.5vw;
    border: none;
    border-bottom: 1.75px solid #B5B5B5;
    font-size: 105%;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2.25vw;
    text-align: center;
}

input[type="number"]:focus {
    outline: none;
    border-bottom: 1.75px solid #E5646E;
}

input[type="range"] {
    width: 50%;
    margin-bottom: 2.25vw;
}

#sex label {
    display: inline;
    padding: 0vw 2vw 0vw 0.25vw;
}

#sex {
    margin-bottom: 2.5vw;
    padding: 0.5vw;
}

.menu {
    background-color: white;
    border-radius: 3vw;
    text-align: center;
    padding: 1.5vw;
    box-shadow: 0px 17px 34px rgba(0, 0, 0, 0.2);
    font-size: 105%;
    font-weight: 500;
    margin: 1vw 1vw 3.75vw 1vw;
    z-index: 2;
    position: relative;
}

.menu a {
    margin: 6vw
}

#updated {
    font-weight: 500;
    color: green;
    margin-bottom: 2vw;
}

#update-page {
    width: 60%;
    top: 66%;
    left: 50%;
    transform: translate3d(-50%, -66%, 0);
    position: absolute;
}

input[type="file"] {
    font-family: 'Montserrat', sans-serif;
}

#list-activities {
    width: 90%;
}

table {
    text-align: center;
    margin: 3vw;
    border-collapse: collapse;
    width: 93%;
}

td,
th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}


th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #E5646E;
    color: white;
}

#homepage {
    width: 50%;
    top: 20%;
    left: 50%;
    transform: translate3d(-50%, -20%, 0);
}

.buttons-menu {
    background-color: white;
    border-radius: 3vw;
    text-align: center;
    padding: 3vw;
    font-size: 130%;
    font-weight: 500;
    margin: 1.65vw;
    border-spacing: 1vw;
    height: 30%;
    transition: 0.4s;
    width: 20%;
    display: inline-block;
}

.buttons-menu:hover {
    box-shadow: 0px 17px 34px rgba(0, 0, 0, 0.2);
    transform: translate(0px, -10px);
}

.all-buttons {
    position: absolute;
    margin-left: 11%;
    margin-top: 27%;
}

img {
    width: 2.5vw;
    margin: 1vw;
}

#register {
    width: 84%;
    margin-left: 14%
}

#register-button-menu {
    width: 24%;
}

input[type="email"]:read-only, input[type="password"]:read-only {
    border-bottom: 1.75px solid #B5B5B5;
}

input[type="email"]:read-only:hover, input[type="password"]:read-only:hover {
    cursor: default;
}

#upload-form {
    margin-top: 2%;
}