* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(180deg, rgba(2,0,36,1), rgba(9,109,121,1) 68%, rgba(0,255,171,1));
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    position: relative;
}

header {
    z-index: 100;
    position: relative;
    background-color: #020024;
}

main {
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 2rem;
    width: 30vw;
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%,-50%);
    height: 60vh;
    overflow-y: auto;
    border-radius: 25px;
}

@media screen and (max-width: 1024px) {
    main {
        width: 50vw;
    }
}

@media screen and (max-width: 768px) {
    main {
        width: 80vw;
        left: 50%;
    }
}

main summary {
    font-size: large;
    margin-bottom: 10px;
}

main h1 {
    font-size: x-large;
}

main details div {
    font-size: large;
}

label {
    font-weight: bold
}

.property {
    padding-bottom: 1rem
}

@media screen and (max-width: 500px) {
    main {
        margin-top: 50px;
    }
}

main h1 {
    display: flex;
    align-items: center;
}

main img {
    width: 64px;
}

summary,
.base-message {
    justify-content: center;
    text-align: center;
}

summary {
    padding-bottom: 1rem
}

footer {
    background-color: #04292d;
    color: white;
}