include ./layout.jade
include ./menu.jade

#list-activities.main-container
  h1 Liste des activités
  table
    tbody
      tr
        th Description
        th Date
        th Heure de début
        th Durée
        th Distance
        th
          | Fréquence cardiaque
          br
          | moyenne
        th
          | Fréquence cardiaque
          br
          | minimale
        th
          | Fréquence cardiaque
          br
          | maximale