@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700');

* {
    font-family: 'Montserrat', sans-serif !important;
}

.access-code {
    font-size: 1.2vw;
    font-weight: bold;
}

#board {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#board-container {
    display: flex;
    justify-content: center;
    width: 66.6%;
}

body {
    background-color: #121212;
    color: white;
    height: 100vh;
    margin: 0;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 0 5vw;
    height: 100vh;
    width: 100vw;
}

#deck-container {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 33.3%;
}

.card {
    background-color: #373737;
    border: 1px #595959 solid;
    border-radius: 1vw;
    height: 6vw;
    position: absolute;
    width: 6vw;
}

.cell {
    align-items: center;
    border: grey 1px dashed;
    display: flex;
    height: 7vw;
    justify-content: center;
    width: 7vw;
}

.game-creation, .game-join {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 50%;
}

.game-launcher {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5vw;
    width: 100%;
}

.game-launcher > button {
    width: fit-content;
}

.game-launcher-card {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3vw;
    justify-content: center;
    width: 90%;
}

.game-launcher > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
    width: 100%;
}

h1 {
    font-size: 3vw;
    font-weight: 700;
    margin: 1vw 0 0 0;
    text-align: center;
}

label {
    text-align: center;
}

.modal-container {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.pi {
    font-family: 'primeicons', sans-serif !important;
}

.p-card-body {
    width: 100%;
}

.p-dialog-header {
    text-align: center;
}

.p-inputtext {
    text-align: center;
    width: 67%;
}

.players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
}