include ./layout.jade

#about-page.main-container
  h1 A propos de SportTrack
  .info
    p
      | SportTrack est une application de suivi d’activités sportives. Importez vos données et consultez vos activités !
    p
    p Créé par Liam Le Ny et Augustin Pasquier
  button.back(onclick="location.href='/'")
    | Accéder à SportTrack
