include ./layout.jade

.main-container
	h1 SportTrack
	button(onclick="location.href='/connect'") Connexion
	br
	button(onclick="location.href='/user_add'") Inscription
	br
	p#about
		a(href='/apropos') A propos de SportTrack
