doctype html
html
    meta(charset='UTF-8')
    title SportTrack Web App
    link(rel='icon' type='image/png' sizes='16x16' href='../images/sporttrack_icon.png')
    link(href='../stylesheets/style.css' rel='stylesheet')
